.action1 {
	-fx-graphic:url("../images/action_fold_m.png");
	-fx-background-color:none;
	-fx-border:none;
}

.action1:hover {
	-fx-graphic:url("../images/action_fold_m_hover.png");
}

.action2 {
	-fx-graphic:url("../images/action_check_m.png");
	-fx-background-color:none;
	-fx-border:none;
}

.action2:hover {
	-fx-graphic:url("../images/action_check_m_hover.png");
}

.action3 {
	-fx-graphic:url("../images/action_follow_m.png");
	-fx-background-color:none;
	-fx-border:none;
}

.action3:hover {
	-fx-graphic:url("../images/action_follow_m_hover.png");
}

.action4 {
	-fx-graphic:url("../images/action_bet_m.png");
	-fx-background-color:none;
	-fx-border:none;
}

.action4:hover {
	-fx-graphic:url("../images/action_bet_m_hover.png");
}

.action5 {
	-fx-graphic:url("../images/action_allin_m.png");
	-fx-background-color:none;
	-fx-border:none;
}

.action5:hover {
	-fx-graphic:url("../images/action_allin_m_hover.png");
}

.table{
	-fx-background-image:url("../images/table.png");
	-fx-background-repeat:no-repeat;
}

.gameLog{
	-fx-color:#85898A;
	-fx-border:none;
	-fx-border-radius:none;
	-fx-text-fill:white;
	-fx-background-radius:none;
}

.gameLogMessage{
	-fx-background-color:#939699;
	-fx-text-fill:white;
	-fx-background-radius:none;
}

.chat{
	-fx-color:#337364;
	-fx-background-radius:none;
}

.chatMessage{
	-fx-background-color:#3B8474;
	-fx-background-radius:none;
}

.sendChat{
	-fx-background-radius:none;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
	-fx-background-color: none;
}

.list-cell:even {
     -fx-background-color: none;
}

.list-cell:odd {
    -fx-background-color: none;
}

.list-cell:filled:hover {
    -fx-background-color: none;
}

.launchGame{
    -fx-graphic:url("../images/launchGame.png");
    -fx-background-color:#3B8474;
    -fx-border:none;
    -fx-border-radius:0px;
    -fx-background-radius:0px;
    -fx-text-fill:white;
}